{% extends 'blog/base.html' %}

{% block content %}
    <div class="row row2">
        <div class="col-sm-2">Αναζήτηση</div>
        <div class="col-sm-8">
            <form type="get" action=".">
                <input type="text" name="txt">
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
    {% for post in post %}
        <div class="post">
            <div class="date">
                <p>published: {{ post.published_date }}</p>
            </div>
            <h1>
                <a href="{% url 'post_detail' pk=post.pk %}">
                    {{ post.movie_details.title }}</a>
            </h1>
            <p>{{ post.text | linebreaks }}</p>
            <p>Written by {{ post.author }}
                {% if post.post %}
                    on <a href="{% url 'post_list' %}?pos={{ post.post_id }} ">
                            {{ post.post }}
                       </a>
                {% endif %}
            </p>
        </div>

    {% endfor %}

{% endblock content %}